[Desktop Entry]
Encoding=UTF-8
Type=XSession
Exec=swm
TryExec=swm
Name=SWM
Comment=A Small window manager for X Window System 
Comment[pl]=Mały zarządca okien dla X Window
